!
ip prefix-list PL-ALL-LOOPBACKS seq 5 permit 0.0.0.0/0 ge 32
!
route-map RM-BGP-FALLOVER permit 10
 match ip address prefix-list PL-ALL-LOOPBACKS
!  
{%- for hub_name in groups.hubs %}
{% set index = loop.index %}  
{% set hub = hostvars[hub_name] %}
crypto pki certificate map CMAP-CLOUD-{{ index }} 10
 issuer-name co {{ hub.domain_name }}
!
crypto ikev2 profile IKE2-CLOUD-{{ index }}
 match fvrf {{ fvrf.name }}
 match certificate CMAP-CLOUD-{{ index }}
 identity local dn
 authentication remote rsa-sig
 authentication local rsa-sig
 pki trustpoint {{ hub.pki_name }}
 dpd 10 2 periodic
 aaa authorization group cert list default default
 virtual-template {{ index }}
!
crypto ipsec profile IPSEC-CLOUD-{{ index }}
 set ikev2-profile IKE2-CLOUD-{{ index }}
!
interface Tunnel{{ index }}
{% if ivrf is defined %}
 vrf forwarding {{ ivrf }}
{% endif %}
 ip address negotiated
 ip nhrp network-id 1
 ip nhrp shortcut virtual-template {{ index }}
 tunnel source {{ fvrf.interface }}
 tunnel destination {{ hub.nbma_ip }}
 tunnel vrf {{ fvrf.name }}
 tunnel protection ipsec profile IPSEC-CLOUD-{{ index }}
!
interface Virtual-Template{{ index }} type tunnel
{% if ivrf is defined %}
 vrf forwarding {{ ivrf }}
{% endif %}
 ip unnumbered Tunnel{{ index }}
 ip nhrp network-id 1
 ip nhrp shortcut virtual-template {{ index }}
 ip nhrp redirect
 tunnel vrf {{ fvrf.name }}
 tunnel protection ipsec profile IPSEC-CLOUD-{{ index }}
!
router bgp {{ bgp_asn }}
 neighbor {{ hub.vpn_ip }} remote-as {{ bgp_asn }}
 neighbor {{ hub.vpn_ip }} update-source Tunnel{{ index }}
 neighbor {{ hub.vpn_ip }} fall-over route-map RM-BGP-FALLOVER
!  
{% if hub.nbma_ip == 'dynamic' %}
{% include 'dynamic.j2' %}
{% endif %}
{% endfor %}
!
