{% if primary %}
{% set index = 1 %}
{% set peer_index = 2 %}
{% else %}
{% set index = 2 %}
{% set peer_index = 1 %}
{% endif %}
{% set peer_hub_name = groups['hubs'] | difference([inventory_hostname]) | first %}
{% set hub = hostvars[peer_hub_name] %}
{% set tunnel_ip = tunnel.subnet | ipaddr(index) | ipaddr('address') %}  
{% set tunnel_peer_ip =  tunnel.subnet | ipaddr(peer_index) | ipaddr('address') %}
!
policy-map PMAP-SPOKE-SHAPER-PARENT
!
ip local pool CLOUD-{{ index }}-POOL {{ subnet | ipaddr(2) | ipaddr('address') }} {{ subnet | ipaddr(-2) | ipaddr('address') }}
!
crypto pki certificate map CERT-MAP-CLOUD-{{ index }} 10
 subject-name co {{ domain_name }}
!
crypto ikev2 name-mangler IKE-MANGLER-OU
 dn organization-unit
!
{% for bw_type in bandwidth %}
{% set group = bw_type|upper %}
!
aaa attribute list AAA-{{ group }}
 attribute type interface-config "bandwidth qos-reference  {{ bandwidth[bw_type] }}"
!
crypto ikev2 authorization policy {{ group }}
 pool CLOUD-{{ index }}-POOL
 route set interface
 route accept any tag 20
 aaa attribute list AAA-{{ group }}
 exit
!
{% endfor %}
!
crypto ikev2 keyring KEY-INTERHUB
 peer HUB
  address 0.0.0.0 0.0.0.0
  pre-shared-key {{ tunnel.pre_shared_key }}
!
!
crypto ikev2 profile IKE2-CLOUD-{{ index }}
 match fvrf {{ fvrf.name }}
 match certificate CERT-MAP-CLOUD-{{ index }}
 identity local dn
 authentication remote rsa-sig
 authentication local rsa-sig
 pki trustpoint {{ pki_name }}
 dpd 10 2 periodic
 aaa authorization group cert list default name-mangler IKE-MANGLER-OU
 virtual-template 1 
!
crypto ikev2 profile IKE2-INTERHUB
 match fvrf {{ fvrf.name }}
 match identity remote fqdn {{ hub.inventory_hostname }}.{{ hub.domain_name }}
 identity local fqdn {{ inventory_hostname }}.{{ domain_name }}
 authentication remote pre-share
 authentication local pre-share
 keyring local KEY-INTERHUB
 dpd 10 2 periodic
 aaa authorization group psk list default default
 virtual-template 101
!
crypto ipsec profile IPSEC-CLOUD-{{ index }}
 set ikev2-profile IKE2-CLOUD-{{ index }}
!
crypto ipsec profile IPSEC-INTERHUB
 set ikev2-profile IKE2-INTERHUB
!
interface Loopback1
 ip address {{ vpn_ip }} 255.255.255.255
!
interface Loopback101
 ip address {{ tunnel_ip }} 255.255.255.255
!
interface Virtual-Template1 type tunnel
 ip unnumbered Loopback1
 ip nhrp network-id 1
 ip nhrp redirect
 tunnel vrf {{ fvrf.name }}
 tunnel protection ipsec profile IPSEC-CLOUD-{{ index }}
 service-policy output PMAP-SPOKE-SHAPER-PARENT
!
{% if primary %}
interface Virtual-Template101 type tunnel
 ip unnumbered Loopback101
 ip nhrp network-id 1
 tunnel vrf {{ fvrf.name }}
 service-policy output PMAP-SPOKE-SHAPER-PARENT
 tunnel protection ipsec profile IPSEC-INTERHUB
{% else %}
interface Tunnel101
 ip unnumbered Loopback101
 ip nhrp network-id 1
 tunnel source {{ fvrf.interface }}
 tunnel destination {{ hub.nbma_ip }}
 tunnel vrf {{ fvrf.name }}
 service-policy output PMAP-SPOKE-SHAPER-PARENT
 tunnel protection ipsec profile IPSEC-INTERHUB
!
{% endif %}
!
{% if hub.nbma_ip == 'dynamic' %}
{% set index = 101 %}
{% include 'dynamic.j2' %}
{% endif %}
!
!
router bgp 1
 bgp log-neighbor-changes
 bgp listen range {{ subnet }} peer-group SPOKES
 neighbor SPOKES peer-group
 neighbor SPOKES remote-as 1
 neighbor SPOKES transport connection-mode passive
 neighbor SPOKES update-source Loopback1
 neighbor SPOKES fall-over route-map RM-BGP-FALLOVER
 neighbor SPOKES route-reflector-client
 neighbor SPOKES next-hop-self all
 neighbor {{ tunnel_peer_ip }} remote-as 1
 neighbor {{ tunnel_peer_ip }} update-source Loopback101
 neighbor {{ tunnel_peer_ip }} fall-over route-map RM-BGP-FALLOVER
 neighbor {{ tunnel_peer_ip }} route-reflector-client
 neighbor {{ tunnel_peer_ip }} next-hop-self all
!
!
ip prefix-list PL-ALL-LOOPBACKS seq 5 permit 0.0.0.0/0 ge 32
!
route-map RM-BGP-FALLOVER permit 10
 match ip address prefix-list PL-ALL-LOOPBACKS
!
