---
- name: Generate FlexVPN Hub configuration
  template: src=server.j2 dest=./files/{{inventory_hostname}}.conf
  when: inventory_hostname in groups['hubs']

- name: Generate FlexVPN Spoke configuration
  template: src=client.j2 dest=./files/{{inventory_hostname}}.conf
  when: inventory_hostname in groups['spokes']


